<li {% if article._read %}class="article-read"{% endif %}>
    <h5>
        <!--feed bookmark-->
        <a href="/feeds/favorites/{{ article._id }}">
            <i class="{% if article._favorite===true %}icon-star{% else %}icon-star-empty{% endif %}"></i>
        </a>
        <!-- feed title -->
        <small class="overflow-hidden muted" title="{{ article.meta.title }}"
               style="width:100px;display:inline-block;">
            <a href="/feeds/{{ article._feed._id }}" class="muted">
                {{ article._feed.title }}</a>
        </small>
        <!-- article title -->
        <a href="/feeds/articles/{{ article._id }}" class="overflow-hidden">
            {{ article.title|substring(0,80) }}.</a>
        <!-- icon open -->
        <span class="pull-right">
          <a target="_blank" href="{{ article.link }}" title="open {{ article.link }}">
            <i class="icon-share "></i></a></span>
        <!--date -->
       <span class="font-small muted pull-right" title="{{ article.pubDate|date("r") }}">
                                    {{ article.pubDate|date('M D d, Y') }}</span>
    </h5>
</li>