{% extends 'layout.twig' %}
{% block header %}
    Express {{ title }}</h1>
{% endblock %}
{% block content %}
home/index
    <ul>
        <li>Email: {{ email }}</li>
        <li>Phone: {{ phone }}</li>
        <li></li>
    </ul>
    <h4>Contact Messages</h4>
    <ul>
        {% for contactMessage in contactMessages %}
            <li>
                <dl>
                    <dt>Name: </dt>
                    <dd>{{ contactMessage.name }}</dd>
                    <dt>Message: </dt>
                    <dd>{{ contactMessage.message }}</dd>
                </dl>
            </li>
        {% endfor %}
    </ul>
    <a href="/home/contact">Add a contact message</a>
{% endblock %}