{% extends 'layout.twig' %}
{% block content %}
    <!-- MAIN -->
    <div class="row">
        <form action="/search" class="form-search span12">
            <input placeholder="Search" class="input-xxlarge" name="q" id="q" type="text">
            <input type="submit" class="btn" value="Search">
        </form>
    </div>
    <div class="row">
        <div class="span2">
            {% block left %}
                <!-- SUBSCRIBE FORM -->
                <form action="/feeds/subscribe" method="POST" id="feed-subscribe" name="feed-suscribe">
                    <label for="url">Suscribe a feed</label>
                    <input type="text" name="url" id="url" class="input-block-level"/>
                    <input type="submit" value="Subscribe" class="btn btn-primary">
                </form>
                <h5>
                    <small>Home</small>
                </h5>
                <!-- LEFT MENU -->
                <ul class="unstyled">
                    <li><a class="font-small" href="/feeds">All items</a>
                        <small class="muted font-small">({{ settings.article_count }})</small>
                    </li>
                    <li><a class="font-small" href="/feeds/favorites">Starred Items</a>
                        <span class="muted font-small">({{ settings.favorite_count }})</span></li>
                    <li><a class="font-small" href="/feeds/articles/unread">Unread Items</a>
                        <small class="muted font-small">({{ settings.unread_count }})</small>
                    </li>
                </ul>
                <h5>
                    <small>Subscriptions</small>
                </h5>
                <div>
                    <!-- SUBSCRIPTIONS LIST -->
                    <ul class="unstyled">
                        {% for feed in feeds %}
                            <li class="feed-list-item i-over {% if feed_id == feed._id %}active{% endif %}">
                                <a title="{{ feed.title }}" class="overflow-hidden "
                                   href="/feeds/{{ feed._id }}"> <img src="{{ feed.favicon }}"
                                                                      class="favicon">
                                    {{ feed.title|substring(0,18) }}</a>
                                <a href="#"><i class="icon-edit pull-right"></i></a>
                                <a title="unsuscribe to {{ feed.xmlurl }}" href="/feeds/unsubscribe/{{ feed._id }}">
                                    <i class="icon-remove pull-right"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endblock %}
        </div>
        <div class="span10">
            {% block center %}
                <!-- articles -->
                {% if articles|length <= 0 %}
                    <h3>No articles found yet , please subscribe a feed</h3>
                {% else %}
                    <ul class="unstyled nav nav-list">
                        {% for article in articles %}
                                {% include "includes/article-list-item.twig"  %}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endblock %}
        </div>
    </div>
{% endblock %}