{% extends 'layout.twig' %}
{% block header %}
    Users
{% endblock %}
{% block content %}
<p>
    <a href="/users/new">Add a new user</a>
</p>
    <ul>
        {% for user in users %}
            <li>
                <dl>
                    <dt>id:</dt>
                    <dd>{{ user.id }}</dd>
                    <dt>Name: </dt>
                    <dd>{{ user.name }}</dd>
                    <dt>Age: </dt>
                    <dd>{{ user.age }}</dd>
                    <dt>Email: </dt>
                    <dd>{{ user.email }}</dd>
                </dl>
                <p>
                    <a href="/users/{{ user.name }}">Details</a>
                    <a href="/users/edit/{{ user.id }}">Edit</a>
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}