<form name="user" action="{{ action }}" method="{{ method }}">
<fieldset>
    <legend>Create A new user</legend>
    <label for="name">Name: </label>
    <input required type="text" name="name"
           value="{{ user.name }}" id="name"/>
    <label for="email">Email: </label>
    <input required type="email" name="email"
           value="{{ user.email }}" id="email"/>
    <label for="age">Age: </label>
    <input required type="number" name="age" id="age"
           value="{{ user.age }}"/>
    <input type="submit" value="Submit">
    <input type="reset" value="Reset">
    <input type="hidden" name="id" value="{{ user.id }}"/>
</fieldset>
</form>